.menu li {
    display: inline; /* เปลี่ยนรูปแบบเป็นแนวนอน */
    margin-right: 10px; /* เว้นระยะห่าง */
  }

  .menu a {
    text-decoration: none; /* ขีดเส้นใต้ออก */
  }
  .logo {
    float: left;
  }

  .search {
    float: left;
  }

  .menu {
    float: right;
  }

  .nav {
    border: 1px solid red;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
  }
  .clear {
    clear: both;
  }

  /***************** Flexbox ************/
  .menuBox li {
    display: inline;
    margin-right: 10px;
  }

  .menuBox a {
    text-decoration: none;
  }

  .header {
    border: 1px solid red;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .sectionMain {
    border: 1px solid red;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
  }
  .topic {
    text-align: center;
  }
  .main {
    display: flex;
    justify-content: space-between;
  }
  .menuName {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
  }
  .rating {
    display: block;
    font-size: 14px;
    margin: 5px 0;
  }
  .category {
    display: block;
  }